tenant_id                  = "00000000-0000-0000-0000-000000000000"
test_user_a_upn            = "kb.test.a@contoso.com"
test_user_b_upn            = "kb.test.b@contoso.com"
state_resource_group_name  = "rg-kb-tfstate"
state_storage_account_name = "stkbtfstatexxxxxx"
