tenant_id         = "00000000-0000-0000-0000-000000000000"
subscription_id   = "00000000-0000-0000-0000-000000000000"
owner             = "your-github-username"
sharepoint_origin = "https://contoso.sharepoint.com"
test_user_a_upn   = "kb.test.a@contoso.com"
test_user_b_upn   = "kb.test.b@contoso.com"
